In [20]:
import boto3 
import pandas as pd

In [28]:
# Accesing all the files from the academy 
s3_client = boto3.client('s3')
bucket_name = 'data-eng-204-final-project'
folder_path = 'Academy/Data'
objects = s3_client.list_objects(Bucket=bucket_name,Prefix=folder_path)
keys = [obj['Key'] for obj in objects['Contents'] if obj['Key']]
dfs = []
for key in keys:
    obj = s3_client.get_object(Bucket=bucket_name, Key=key)
    df = pd.read_csv(obj['Body'], delimiter=',')
    dfs.append(df)
print(len(dfs))
    
# Concatenate the DataFrames into a single DataFrame
combined_df = pd.concat(dfs,ignore_index=True)

12

In [29]:
combined_df

,name,trainer,Analytic_W1,Independent_W1,Determined_W1,Professional_W1,Studious_W1,Imaginative_W1,Analytic_W2,Independent_W2,...,Determined_W9,Professional_W9,Studious_W9,Imaginative_W9,Analytic_W10,Independent_W10,Determined_W10,Professional_W10,Studious_W10,Imaginative_W10
0,Pyotr De Zuani,Trixie Orange,1,3,4,2,2,2,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Vince Scott,Trixie Orange,1,1,4,3,3,4,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kellie Althorp,Trixie Orange,3,4,1,1,5,2,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aida Bothams,Trixie Orange,4,2,2,3,3,1,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nettie Civitillo,Trixie Orange,5,4,3,1,1,6,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Gianina Wandless,Trixie Orange,3,1,8,4,4,1,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Kaitlyn Chagg,Trixie Orange,1,4,2,1,3,3,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Scotti Bromfield,Trixie Orange,1,1,2,6,2,6,3.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Genovera Mattek,Trixie Orange,3,3,3,1,5,2,2.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Yorgos O'Rourke,Trixie Orange,1,6,3,5,2,5,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
combined_df.head(5)

,name,trainer,Analytic_W1,Independent_W1,Determined_W1,Professional_W1,Studious_W1,Imaginative_W1,Analytic_W2,Independent_W2,...,Determined_W9,Professional_W9,Studious_W9,Imaginative_W9,Analytic_W10,Independent_W10,Determined_W10,Professional_W10,Studious_W10,Imaginative_W10
0,Sigrid Veitch,Eshal Brandt,4,4,3,6,2,2,4.0,1.0,...,6.0,8.0,7.0,8.0,8.0,8.0,8.0,8.0,7.0,8.0
1,Rodrick Henworth,Eshal Brandt,4,4,3,3,1,4,1.0,1.0,...,8.0,7.0,8.0,5.0,8.0,8.0,8.0,8.0,8.0,8.0
2,Reggie Lawlor,Eshal Brandt,5,2,5,3,3,6,4.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,Thornton Thuillier,Eshal Brandt,3,5,4,5,2,1,1.0,2.0,...,7.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0,7.0,8.0
4,Thomasine Poundford,Eshal Brandt,3,2,4,1,2,5,2.0,2.0,...,8.0,5.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [23]:
combined_df

,name,trainer,Analytic_W1,Independent_W1,Determined_W1,Professional_W1,Studious_W1,Imaginative_W1,Analytic_W2,Independent_W2,...,Determined_W9,Professional_W9,Studious_W9,Imaginative_W9,Analytic_W10,Independent_W10,Determined_W10,Professional_W10,Studious_W10,Imaginative_W10
0,Sigrid Veitch,Eshal Brandt,4,4,3,6,2,2,4.0,1.0,...,6.0,8.0,7.0,8.0,8.0,8.0,8.0,8.0,7.0,8.0
1,Rodrick Henworth,Eshal Brandt,4,4,3,3,1,4,1.0,1.0,...,8.0,7.0,8.0,5.0,8.0,8.0,8.0,8.0,8.0,8.0
2,Reggie Lawlor,Eshal Brandt,5,2,5,3,3,6,4.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,Thornton Thuillier,Eshal Brandt,3,5,4,5,2,1,1.0,2.0,...,7.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0,7.0,8.0
4,Thomasine Poundford,Eshal Brandt,3,2,4,1,2,5,2.0,2.0,...,8.0,5.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Moritz Mosedall,Mohammad Velazquez,1,1,5,1,2,6,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Chaim Inseal,Mohammad Velazquez,1,3,3,4,1,2,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Gertruda Syddie,Mohammad Velazquez,3,1,2,8,1,4,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Thom Derwin,Mohammad Velazquez,3,7,3,3,3,1,2.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Godfry Sephton,Mohammad Velazquez,4,2,5,1,1,2,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
combined_df.describe()

,Analytic_W1,Independent_W1,Determined_W1,Professional_W1,Studious_W1,Imaginative_W1,Analytic_W2,Independent_W2,Determined_W2,Professional_W2,...,Determined_W9,Professional_W9,Studious_W9,Imaginative_W9,Analytic_W10,Independent_W10,Determined_W10,Professional_W10,Studious_W10,Imaginative_W10
count,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,136.000000,136.000000,136.000000,136.000000,...,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000
mean,3.151079,3.158273,3.079137,2.762590,2.769784,3.208633,2.933824,2.816176,2.867647,2.779412,...,7.288136,7.084746,6.949153,7.271186,7.881356,7.932203,7.864407,7.881356,7.864407,7.949153
std,1.605758,1.664893,1.479643,1.657581,1.436161,1.639525,1.501615,1.535758,1.514419,1.627045,...,1.145469,1.764478,1.524781,1.229389,0.418731,0.314281,0.571074,0.458060,0.433813,0.221572
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,3.000000,1.000000,3.000000,3.000000,6.000000,6.000000,4.000000,6.000000,6.000000,7.000000
25%,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.750000,...,7.000000,7.000000,6.000000,7.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,...,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
75%,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
max,8.000000,8.000000,6.000000,8.000000,8.000000,8.000000,8.000000,7.000000,8.000000,8.000000,...,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000

In [25]:
import boto3 
import pandas as pd
import codecs
import csv

In [26]:
s3_client = boto3.client('s3')
bucket_name = 'data-eng-204-final-project'
folder_path = 'Academy/'

def read_csv_from_s3(bucket_name, key, column):
    data = s3_client.get_object(Bucket=bucket_name, Key=key)

In [27]:
for row in csv.DictReader(codecs.getreader("utf-8")(data["Body"])):
        print(row[column])

NameError: name 'data' is not defined