Finding Missing Values

https://medium.com/analytics-vidhya/python-finding-missing-values-in-a-data-frame-3030aaf0e4fd

Handling Missing Values in a Data Frame


https://medium.com/analytics-vidhya/python-handling-missing-values-in-a-data-frame-4156dac4399

## Seattle Airbnb Open Data

https://www.kaggle.com/datasets/airbnb/seattle?resource=download&select=reviews.csv

####  Context
Since 2008, guests and hosts have used Airbnb to travel in a more unique, personalized way. As part of the Airbnb Inside initiative, this dataset describes the listing activity of homestays in Seattle, WA.

#### Content
The following Airbnb activity is included in this Seattle dataset:

Listings, including full descriptions and average review score

Reviews, including unique id for each reviewer and detailed comments

Calendar, including listing id and the price and availability for that day
#### Inspiration
Can you describe the vibe of each Seattle neighborhood using listing descriptions?
What are the busiest times of the year to visit Seattle? By how much do prices spike?
Is there a general upward trend of both new Airbnb listings and total Airbnb visitors to Seattle?

http://insideairbnb.com/get-the-data/

### Finding Missing Values in a Pandas Data Frame

In [2]:
# Importing the packages
import pandas as pd

Step 1: Load the data frame and study the structure of the data frame.

In [3]:
df_listing = pd.read_csv("listings.csv")
display(df_listing.describe())
display(df_listing.head())
display(df_listing.dtypes.value_counts())

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3.818000e+03,3816.000000,3816.000000,3818.000000,3818.000000,3818.000000,3802.000000,3812.000000,...,3171.000000,3160.000000,3165.000000,3160.000000,3167.000000,3163.000000,3162.000000,0.0,3818.000000,3191.000000
mean,5.550111e+06,2.016010e+13,1.578556e+07,7.157757,7.157757,47.628961,-122.333103,3.349398,1.259469,1.307712,...,94.539262,9.636392,9.556398,9.786709,9.809599,9.608916,9.452245,NaN,2.946307,2.078919
std,2.962660e+06,0.000000e+00,1.458382e+07,28.628149,28.628149,0.043052,0.031745,1.977599,0.590369,0.883395,...,6.606083,0.698031,0.797274,0.595499,0.568211,0.629053,0.750259,NaN,5.893029,1.822348
min,3.335000e+03,2.016010e+13,4.193000e+03,1.000000,1.000000,47.505088,-122.417219,1.000000,0.000000,0.000000,...,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,NaN,1.000000,0.020000
25%,3.258256e+06,2.016010e+13,3.275204e+06,1.000000,1.000000,47.609418,-122.354320,2.000000,1.000000,1.000000,...,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.695000
50%,6.118244e+06,2.016010e+13,1.055814e+07,1.000000,1.000000,47.623601,-122.328874,3.000000,1.000000,1.000000,...,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.540000
75%,8.035127e+06,2.016010e+13,2.590309e+07,3.000000,3.000000,47.662694,-122.310800,4.000000,1.000000,2.000000,...,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,3.000000
max,1.034016e+07,2.016010e+13,5.320861e+07,502.000000,502.000000,47.733358,-122.240607,16.000000,8.000000,7.000000,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,37.000000,12.150000

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

object     62
float64    17
int64      13
dtype: int64

Step 2: Separate categorical and numerical columns in the data frame
- False = numerical

In [4]:
df_listing.dtypes

id                                    int64
listing_url                          object
scrape_id                             int64
last_scraped                         object
name                                 object
                                     ...
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
Length: 92, dtype: object

In [5]:
df_listing.dtypes == 'object'

id                                  False
listing_url                          True
scrape_id                           False
last_scraped                         True
name                                 True
                                    ...
cancellation_policy                  True
require_guest_profile_picture        True
require_guest_phone_verification     True
calculated_host_listings_count      False
reviews_per_month                   False
Length: 92, dtype: bool

In [6]:
# Separated the original data frame into 2 groups and assigned them new variable
numerical_value = df_listing.columns[df_listing.dtypes != 'object']
categorical_value = df_listing.columns[df_listing.dtypes == 'object']

print(numerical_value)
print(categorical_value)

Index(['id', 'scrape_id', 'host_id', 'host_listings_count',
       'host_total_listings_count', 'latitude', 'longitude', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'square_feet', 'guests_included',
       'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')
Index(['listing_url', 'last_scraped', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighborhood_overview', 'notes',
       'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'is_location_exact',
       'property_type', 'room_type', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'calendar_updated', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review',
       'requires_license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification'],
      dtype='object')

Step 3: Find the missing values

In [7]:
# only Prints out the column in the numerical_value which consists of all the columns in the data frame which are not object data type
df_listing[numerical_value]

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
0,241032,20160104002432,956883,3.0,3.0,47.636289,-122.371025,4,1.0,1.0,...,95.0,10.0,10.0,10.0,10.0,9.0,10.0,NaN,2,4.07
1,953595,20160104002432,5177328,6.0,6.0,47.639123,-122.365666,4,1.0,1.0,...,96.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,6,1.48
2,3308979,20160104002432,16708587,2.0,2.0,47.629724,-122.369483,11,4.5,5.0,...,97.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,2,1.15
3,7421966,20160104002432,9851441,1.0,1.0,47.638473,-122.369279,3,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,278830,20160104002432,1452570,2.0,2.0,47.632918,-122.372471,6,2.0,3.0,...,92.0,9.0,9.0,10.0,10.0,9.0,9.0,NaN,1,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,8101950,20160104002432,31148752,354.0,354.0,47.664295,-122.359170,6,2.0,3.0,...,80.0,8.0,10.0,4.0,8.0,10.0,8.0,NaN,8,0.30
3814,8902327,20160104002432,46566046,1.0,1.0,47.649552,-122.318309,4,1.0,1.0,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,1,2.00
3815,10267360,20160104002432,52791370,1.0,1.0,47.508453,-122.240607,2,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3816,9604740,20160104002432,25522052,1.0,1.0,47.632335,-122.275530,2,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3817,10208623,20160104002432,14703116,1.0,1.0,47.641186,-122.342085,3,1.5,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

- True = missing values
- False = does not have missing values

In [8]:
# isnull() to find out all the fields which have the missing values
df_listing[numerical_value].isnull()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3814,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3815,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
3816,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
3817,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True

In [9]:
# Sum/count of all missing values in each column
df_listing[numerical_value].isnull().sum()

id                                   0
scrape_id                            0
host_id                              0
host_listings_count                  2
host_total_listings_count            2
latitude                             0
longitude                            0
accommodates                         0
bathrooms                           16
bedrooms                             6
beds                                 1
square_feet                       3721
guests_included                      0
minimum_nights                       0
maximum_nights                       0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
review_scores_rating               647
review_scores_accuracy             658
review_scores_cleanliness          653
review_scores_checkin              658
review_scores_communication        651
review_scores_location             655
review_scores_value                656
license                           3818
calculated_host_listings_count       0
reviews_per_month                  627
dtype: int64

In [10]:
# sorting out the columns in descending order to have a better picture
df_listing[numerical_value].isnull().sum().sort_values(ascending=False)

license                           3818
square_feet                       3721
review_scores_accuracy             658
review_scores_checkin              658
review_scores_value                656
review_scores_location             655
review_scores_cleanliness          653
review_scores_communication        651
review_scores_rating               647
reviews_per_month                  627
bathrooms                           16
bedrooms                             6
host_total_listings_count            2
host_listings_count                  2
beds                                 1
availability_365                     0
calculated_host_listings_count       0
number_of_reviews                    0
id                                   0
availability_90                      0
availability_60                      0
scrape_id                            0
maximum_nights                       0
minimum_nights                       0
guests_included                      0
accommodates                         0
longitude                            0
latitude                             0
host_id                              0
availability_30                      0
dtype: int64

To get % of missing values in each column you can divide by length of the data frame

In [11]:
# gives you the number of rows in the data frame
len(df_listing)

3818

As you can see below license column is missing 100% of the data and square_feet column is missing 97% of data.

In [12]:
df_listing[numerical_value].isnull().sum().sort_values(ascending=False)/len(df_listing)

license                           1.000000
square_feet                       0.974594
review_scores_accuracy            0.172342
review_scores_checkin             0.172342
review_scores_value               0.171818
review_scores_location            0.171556
review_scores_cleanliness         0.171032
review_scores_communication       0.170508
review_scores_rating              0.169460
reviews_per_month                 0.164222
bathrooms                         0.004191
bedrooms                          0.001572
host_total_listings_count         0.000524
host_listings_count               0.000524
beds                              0.000262
availability_365                  0.000000
calculated_host_listings_count    0.000000
number_of_reviews                 0.000000
id                                0.000000
availability_90                   0.000000
availability_60                   0.000000
scrape_id                         0.000000
maximum_nights                    0.000000
minimum_nights                    0.000000
guests_included                   0.000000
accommodates                      0.000000
longitude                         0.000000
latitude                          0.000000
host_id                           0.000000
availability_30                   0.000000
dtype: float64

Conclusion
1. Use isnull() function to identify the missing values in the data frame
2. Use sum() functions to get sum of all missing values per column
3. use sort_values(ascending=False) function to get columns with the missing values in descending order
4. Divide by len(df) to get % of missing values in each column

### Handling Missing Values in a Data Frame

1. Deleting all rows/columns with missing data:This can be used when you have rows/columns where majority of the data is missing. When you are deleting rows/columns you might be losing some valuable information and lead to biased models. So analyze your data before deleting and check if there is any particular reason for missing data.

2. Imputing data: This is by far the most common way used to handle missing data. In this method you impute a value where data is missing. Imputing data can introduce bias into the datasets. Imputation can be done multiple ways.

In [13]:
# % of missing data on each numerical column
df_listing[numerical_value].isnull().sum().sort_values(ascending=False)/len(df_listing)

license                           1.000000
square_feet                       0.974594
review_scores_accuracy            0.172342
review_scores_checkin             0.172342
review_scores_value               0.171818
review_scores_location            0.171556
review_scores_cleanliness         0.171032
review_scores_communication       0.170508
review_scores_rating              0.169460
reviews_per_month                 0.164222
bathrooms                         0.004191
bedrooms                          0.001572
host_total_listings_count         0.000524
host_listings_count               0.000524
beds                              0.000262
availability_365                  0.000000
calculated_host_listings_count    0.000000
number_of_reviews                 0.000000
id                                0.000000
availability_90                   0.000000
availability_60                   0.000000
scrape_id                         0.000000
maximum_nights                    0.000000
minimum_nights                    0.000000
guests_included                   0.000000
accommodates                      0.000000
longitude                         0.000000
latitude                          0.000000
host_id                           0.000000
availability_30                   0.000000
dtype: float64

- 100% of the values in license column and 97% of the square_feet column are missing data in numerical columns.

In [14]:
# % of missing data on each categorical column
df_listing[categorical_value].isnull().sum().sort_values(ascending=False)/len(df_listing)

monthly_price                       0.602672
security_deposit                    0.511262
weekly_price                        0.473808
notes                               0.420639
neighborhood_overview               0.270299
                                      ...
market                              0.000000
smart_location                      0.000000
country_code                        0.000000
country                             0.000000
require_guest_phone_verification    0.000000
Length: 62, dtype: float64

- 60% of the values in monthly_price, 51% of values in security_deposit and 47% of values in weekly_price are missing data

### 1. Deleting rows/columns with missing data:

axis =1 represents column, axis=0 represent rows.

In [15]:
# Using the drop method
df = df_listing.drop(columns=["license","square_feet","monthly_price","security_deposit","weekly_price"],axis=1)

In [16]:
# Separated the new data frame [df] into 2 groups and assigned them new variable

numerical_value_1 = df.columns[df.dtypes != 'object']
categorical_value_1 = df.columns[df.dtypes == 'object']

In [17]:
# % of missing data on each numerical column for the new df data after dropping
df[numerical_value_1].isnull().sum().sort_values(ascending=False)/len(df)

review_scores_checkin             0.172342
review_scores_accuracy            0.172342
review_scores_value               0.171818
review_scores_location            0.171556
review_scores_cleanliness         0.171032
review_scores_communication       0.170508
review_scores_rating              0.169460
reviews_per_month                 0.164222
bathrooms                         0.004191
bedrooms                          0.001572
host_listings_count               0.000524
host_total_listings_count         0.000524
beds                              0.000262
availability_365                  0.000000
calculated_host_listings_count    0.000000
number_of_reviews                 0.000000
id                                0.000000
availability_90                   0.000000
availability_60                   0.000000
scrape_id                         0.000000
maximum_nights                    0.000000
minimum_nights                    0.000000
guests_included                   0.000000
accommodates                      0.000000
longitude                         0.000000
latitude                          0.000000
host_id                           0.000000
availability_30                   0.000000
dtype: float64

In [18]:
# % of missing data on each categorical column for the new df data after dropping
df[categorical_value_1].isnull().sum().sort_values(ascending=False)/len(df)

notes                               0.420639
neighborhood_overview               0.270299
cleaning_fee                        0.269775
transit                             0.244631
host_about                          0.224987
host_acceptance_rate                0.202462
first_review                        0.164222
last_review                         0.164222
space                               0.149031
host_response_rate                  0.136983
host_response_time                  0.136983
neighbourhood                       0.108958
xl_picture_url                      0.083814
medium_url                          0.083814
thumbnail_url                       0.083814
host_neighbourhood                  0.078575
summary                             0.046359
host_location                       0.002095
zipcode                             0.001833
host_has_profile_pic                0.000524
host_thumbnail_url                  0.000524
host_identity_verified              0.000524
host_picture_url                    0.000524
host_since                          0.000524
host_is_superhost                   0.000524
host_name                           0.000524
property_type                       0.000262
calendar_updated                    0.000000
price                               0.000000
amenities                           0.000000
bed_type                            0.000000
extra_people                        0.000000
listing_url                         0.000000
has_availability                    0.000000
calendar_last_scraped               0.000000
requires_license                    0.000000
jurisdiction_names                  0.000000
instant_bookable                    0.000000
cancellation_policy                 0.000000
require_guest_profile_picture       0.000000
room_type                           0.000000
street                              0.000000
is_location_exact                   0.000000
last_scraped                        0.000000
name                                0.000000
description                         0.000000
experiences_offered                 0.000000
picture_url                         0.000000
host_url                            0.000000
host_verifications                  0.000000
neighbourhood_cleansed              0.000000
country                             0.000000
neighbourhood_group_cleansed        0.000000
city                                0.000000
state                               0.000000
market                              0.000000
smart_location                      0.000000
country_code                        0.000000
require_guest_phone_verification    0.000000
dtype: float64

#### Deleting rows/columns with NA
- 'any' -->  even if one value has NA in row or column it will delete those columns. 
-  “all” only if all the values in rows/columns have NA deletion will happen.
- If 0 then drops rows with NA values, if 1 then drops columns with NA values.

In [19]:
# delete row with NA in host_name column
df = df.dropna(subset=['host_name'],how='any',axis=0)

### 2. Imputing Data
- imputing mean, median or mode of the column in place of the missing values.

In [20]:
# function to fill missing values with mean for numerical col
fill_mean= lambda col: col.fillna(col.mean())

# apply finction to fill the missing values
df_listing[numerical_value] = df_listing[numerical_value].apply(fill_mean)

In [21]:
df_listing.isnull().sum()

id                                  0
listing_url                         0
scrape_id                           0
last_scraped                        0
name                                0
                                   ..
cancellation_policy                 0
require_guest_profile_picture       0
require_guest_phone_verification    0
calculated_host_listings_count      0
reviews_per_month                   0
Length: 92, dtype: int64